@font-face {
  font-family: "iconfont"; /* Project id 2713108 */
  src: url('iconfont.woff2?t=1627708369636') format('woff2'),
       url('iconfont.woff?t=1627708369636') format('woff'),
       url('iconfont.ttf?t=1627708369636') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-anquanyinsi:before {
  content: "\e98b";
}

.icon-xianxingxiuxi:before {
  content: "\e6a9";
}

